<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resource_style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a class="dashboard" href="/dashboard" style="color: white">Dashboard</a>
        <a  class="logout" href="/logout" style="color: white">Logout</a>
    </div>
    <!-- bottom nav -->
    <div id="navbottom"></div>
</body>
</html>